:root {
  background-color: #8CA6DB;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #B2C3DD;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #8CA6DB;
}

.acc-form {
  max-width: 500px;
  margin: 150px auto;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  width: 97%;
  margin-bottom: 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.form-group input {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group input:focus {
  outline: none;
  border-color: #B2C3DD;
}

.alternative-acc {
  text-align: center;
  padding: 5px;
  margin-top: 15px;
  color: #8CA6DB;
}

.logout-button {
  margin-left: 20px;
  color: #fff;
  background-color: #B2C3DD;
  border: #B2C3DD;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.welcome-back {
  color: #fff;
  padding-left: 25px;
}

.hero-image {
  border-radius: 20px;
  max-width: 96%;
  display: block;
  margin: auto;
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .acc-form {
      margin: 50px auto;
  }
  .welcome-back {
      font-size: 10px; 
  }
}